body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Shared View */
/* Layout */
/* Navbar */
.navbar {
    background-color: black;
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

/* Footer */
footer {
    text-align: center;
}

/* Home View*/
/* Index */

/* Container Fluid div */
.homeIndexCF {
    background-image: url('images/technology.jpg');
    background-size: cover;
    border-radius: 0px;
    width: 100%;
}

/* Jumbotron*/
.homeIndexJumbotron {
    text-align: center;
    background-color: #000000;
    color: white;
    width: 75%;
    margin: auto;
    padding-top: 75px;
    border-radius: 0px;
}

/* Description */
.homeIndexDescriptionBackground {
    padding: 0px;
    width: 100%;
}
.homeIndexDescription {
    padding: 50px;
    background-color: black;
    color: white;
    margin: 0px;
    width: 100%;
}

/* Reviews View */

/* Index */
.reviewsIndexBackground {
    background-color: black;
    color: white;
    text-align: center;
}

/* Column div to force full height if tag field is missing */
.reviewThumb {
    height: 237px;
}


.caption {
    text-align: center;
}

