@{
    ViewBag.Title = "Home Page";
}

@* Jumbotron section: *@
<div class="container-fluid homeIndexCF">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron homeIndexJumbotron">
                <h1>GENERIC REVIEW SITE</h1>
                <h4>Your one-stop site for generic technology reviews (as told by Bob Ross).</h4>
            </div>
        </div>
    </div>
</div>

@* Description *@
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 homeIndexDescriptionBackground">
            <div class="homeIndexDescription">
                <p>
                    Water's like me. It's laaazy ... Boy, it always looks for the easiest way to do things If you overwork it you become
                    a cloud killer. There's nothing worse than a cloud killer. That's the way I look when I get home late; black and blue.
                </p>

                <p>
                    You need the dark in order to show the light. You can't have light without dark. You can't know happiness unless
                    you've known sorrow. I was blessed with a very steady hand; and it comes in very handy when you're doing these little
                    delicate things. You better get your coat out, this is going to be a cold painting. If you've been in Alaska less than a
                    year you're a Cheechako. We want to use a lot pressure while using no pressure at all.
                </p>

                <p>
                    In your world you can create anything you desire. This is probably the greatest thing to happen in my life - to be
                    able to share this with you. You can do anything here. So don't worry about it. Put your feelings into it, your heart,
                    it's your world. Trees live in your fan brush, but you have to scare them out. We don't have to be concerned about it. We
                    just have to let it fall where it will.
                </p>

                <p>
                    Isn't that fantastic? Let's have a nice tree right here. Work that paint. With something so strong, a little bit can go
                    a long way. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. Almost everything is going
                    to happen for you automatically - you don't have to spend any time working or worrying.
                </p>
            </div>
        </div>
    </div>
</div>